<h1>Du lieu:@ViewBag.message </h1>
<form asp-action="Demo">
    <input type="text" name="EmployeeID" placeholder="Nhap ID">
    <input type="text" name="FullName" placeholder="Nhap ho ten">
    <input type="text" name="Address">
    <input type="email" name="Email">
    <input type="submit" value="Send">
</form>